@import 'bootstrap/dist/css/bootstrap.min.css';

.bg-home, .bg-map {
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  width: 100%
}

.bg-1 {
  background-color: #1a4263;
}

.bg-1b {
  background-color: #1a4263e9;
  backdrop-filter: blur(15px);
}

.bg-2b {
  background-color: #fefaede2;
  backdrop-filter: blur(15px);
}

.bg-3b {
  background-color: #6c6c6c55;
}

.font-1 {
  font-family: "Amaranth", sans-serif;
}

.text-1 {
  color: #0d0d0d;
  font-weight: 400;
}

.text-2 {
  color: #be7d32;
}

.text-black {
  color: #181818;
}

.hover-text:hover {
  color: #be7d32;
}

.active-text {
  color: #bf6b0d;
}

.active-text:hover {
  color: #be7d32;
}

.btn-primary {
  background-color: #bf6b0d;
  color: #fefaed;
  border: none;
}

.btn-primary:hover {
  background-color: #be9361;
  color: #fefaed;
  border: none;
}

.btn-primary:disabled {
  background-color: #bf6b0d;
  color: #fefaed;
  border: none;
}

.skewed-box {
  border-radius: 5px;
  /*border: 1px solid #1a4263;*/
}

.quote-box {
  border-radius: 15px;
  margin: 30px auto;
  backdrop-filter: blur(5px);
}

.skewed-btn {
  border-radius: 5px;
  border: 1px solid #1a4263;
  transition: transform 0.8s ease;
}

.skewed-box a, .skewed-btn a {
  color: #000000;
}

.accordion-item {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.expanded {
  max-height: 600px;
}

.skewed-btn:hover {
  background-color: #e5e1d6e2;
  backdrop-filter: blur(40px);
}

.w-content {
  max-width: 800px;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.h-full {
  height: calc(100vh - 70px);
}

.h-100 {
  height: 100%;
}

.h-container {
  min-height: calc(100vh - 70px);;
}

.vh-100 {
  height: 100vh;
}

.clear-btn {
  background-color: transparent;
  color: #fefaed;
}

.dropdown-arrow {
  transition: transform 0.8s ease;
  color: #000000;
}

.flipped {
  transform: rotate(180deg);
}

.right-item {
  max-width: 80%;
  text-align: justify;
}

.list-container > :nth-child(odd) {
  background-color: #fefaed;
}

/* Styles for small screens */
@media (max-width: 600px) {
  .bg-home {
    background-image: url('./assets/mahi-small.jpg');
  }
  .bg-map {
    background-image: url('./assets/map-small.jpg');
  }
}

/* Styles for medium screens */
@media (min-width: 601px) and (max-width: 1200px) {
  .bg-home {
    background-image: url('./assets/mahi-medium.jpg');
  }
  .bg-map {
    background-image: url('./assets/map-medium.jpg');
  }
}

/* Styles for large screens */
@media (min-width: 1201px) and (max-width: 1600px) {
  .bg-home {
    background-image: url('./assets/mahi-large.jpg');
  }
  .bg-map {
    background-image: url('./assets/map2-large.jpg');
  }
}

/* Styles for extra large screens */
@media (min-width: 1601px) {
  .bg-home {
    background-image: url('./assets/mahi-xlarge.jpg');
  }
  .bg-map {
    background-image: url('./assets/map-large.jpg');
  }
}