@import 'bootstrap/dist/css/bootstrap.min.css';

.bg-home, .bg-map {
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  width: 100%
}

.bg-1 {
  background-color: #ec752b;
}

.bg-1b {
  background-color: #ff8c455f;
  backdrop-filter: blur(15px);
}

.bg-2b {
  background-color: #1a1a1a5f;
  backdrop-filter: blur(15px);
}

.bg-3b {
  background-color: #6c6c6c55;
}

.font-1 {
  font-family: "Amaranth", sans-serif;
}

.hover-text:hover {
  color: #d07a45;
}

.active-text {
  color: #e0ad8d;
}

.active-text:hover {
  color: #e0ad8d;
}

.skewed-box {
  border-radius: 5px;
  border: 1px solid rgba(162, 162, 255, 0.568);
  color: white;
}

.skewed-btn {
  border-radius: 5px;
  border: 1px solid rgba(162, 162, 255, 0.568);
  color: white;
  transition: transform 0.8s ease;
}

.skewed-box a {
  color: rgb(198, 198, 198);
}

.accordion-item {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.expanded {
  max-height: 600px;
}

.skewed-btn:hover {
  background-color: #37373780;
  backdrop-filter: blur(40px);
}

.w-content {
  max-width: 800px;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.h-full {
  height: calc(100vh - 70px);
}

.h-100 {
  height: 100%;
}

.h-container {
  min-height: calc(100vh - 70px);;
}

.vh-100 {
  height: 100vh;
}

.clear-btn {
  background-color: transparent;
  color: white;
}

.dropdown-arrow {
  transition: transform 0.8s ease;
}

.flipped {
  transform: rotate(180deg);
}

.btn-primary {
  background-color: #eee4;
  border: 1.5px solid white
}

.right-item {
  max-width: 80%;
  text-align: justify;
}

.list-container > :nth-child(odd) {
  background-color: #f3f3f3;
}

/* Styles for small screens */
@media (max-width: 600px) {
  .bg-home {
    background-image: url('./assets/mahi-small.jpg');
  }
  .bg-map {
    background-image: url('./assets/map-small.jpg');
  }
}

/* Styles for medium screens */
@media (min-width: 601px) and (max-width: 1200px) {
  .bg-home {
    background-image: url('./assets/mahi-medium.jpg');
  }
  .bg-map {
    background-image: url('./assets/map-medium.jpg');
  }
}

/* Styles for large screens */
@media (min-width: 1201px) and (max-width: 1600px) {
  .bg-home {
    background-image: url('./assets/mahi-large.jpg');
  }
  .bg-map {
    background-image: url('./assets/map-large.jpg');
  }
}

/* Styles for extra large screens */
@media (min-width: 1601px) {
  .bg-home {
    background-image: url('./assets/mahi-xlarge.jpg');
  }
  .bg-map {
    background-image: url('./assets/map-large.jpg');
  }
}